.u-section-1 .u-sheet-1 {
  min-height: 782px;
}

.u-section-1 .u-text-1 {
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 300;
  margin: 60px auto 0;
}

.u-section-1 .u-shape-1 {
  width: 469px;
  height: 469px;
  margin: 169px auto 0 336px;
}

.u-section-1 .u-image-1 {
  width: 365px;
  height: 365px;
  background-image: url("images/1644852995250jh.jpg");
  background-position: 50% 100%;
  margin: -417px auto 0 388px;
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  font-size: 6rem;
  letter-spacing: 4px;
  margin: -526px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-shape-1 {
    margin-left: 236px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 288px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 138px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-shape-1 {
    margin-left: 126px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 178px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 28px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 702px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 309px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 89px;
    margin-left: auto;
  }

  .u-section-1 .u-image-1 {
    margin-left: 88px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -442px;
    margin-left: 53px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 596px;
  }

  .u-section-1 .u-text-1 {
    width: 168px;
    margin-top: 83px;
  }

  .u-section-1 .u-shape-1 {
    height: 340px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-1 {
    width: 275px;
    height: 275px;
    margin-top: -307px;
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    font-size: 4.5rem;
    margin-top: -397px;
    margin-left: 4px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 683px;
}

.u-section-2 .u-text-1 {
  width: 682px;
  font-weight: 700;
  font-size: 4.5rem;
  line-height: 0.8;
  margin: 60px auto 0;
}

.u-section-2 .u-line-1 {
  height: 6px;
  transform-origin: left center;
  width: 795px;
  margin: 50px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 3rem;
  line-height: 1.6;
  font-weight: 700;
  width: 795px;
  margin: 46px auto 0;
}

.u-section-2 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 33px auto 0;
}

.u-section-2 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: 0px;
  font-weight: 700;
  margin: 33px 229px 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-3 {
    margin-left: 129px;
    margin-right: 129px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-line-1 {
    width: 720px;
  }

  .u-section-2 .u-text-2 {
    width: 720px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 19px;
    margin-right: 19px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-line-1 {
    width: 540px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 647px;
  }

  .u-section-2 .u-text-1 {
    width: 340px;
    font-size: 3.75rem;
  }

  .u-section-2 .u-line-1 {
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.875rem;
    width: 340px;
  }

  .u-section-2 .u-text-3 {
    margin-bottom: 36px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 973px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 427px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-image-1 {
  width: 242px;
  height: 238px;
  margin: 0 auto;
}

.u-section-3 .u-image-2 {
  min-height: 427px;
  background-image: url("images/1616004600478-02.jpeg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-2 {
  padding: 40px;
}

.u-section-3 .u-image-3 {
  min-height: 427px;
  background-image: url("images/1613486938508-02.jpeg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 427px;
  margin-top: 0;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 300;
  margin: 0;
}

.u-section-3 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 30px auto 0;
}

.u-section-3 .u-layout-cell-5 {
  min-height: 436px;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-3 .u-image-4 {
  width: 255px;
  height: 301px;
  object-position: 50% 41.14%;
  margin: 0 33px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 932px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 310px;
    background-position: 50% 50%;
  }

  .u-section-3 .u-image-2 {
    min-height: 413px;
  }

  .u-section-3 .u-image-3 {
    min-height: 359px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 352px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 359px;
    background-position: 50% 50%;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1424px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: -171px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 334px;
  }

  .u-section-3 .u-image-2 {
    min-height: 334px;
  }

  .u-section-3 .u-container-layout-2 {
    padding: 30px;
  }

  .u-section-3 .u-image-3 {
    min-height: 465px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 465px;
  }

  .u-section-3 .u-image-4 {
    height: 405px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2044px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: -497px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 297px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    min-height: 593px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-3 {
    min-height: 386px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.25rem;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 413px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1664px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: -421px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 187px;
  }

  .u-section-3 .u-image-2 {
    min-height: 383px;
  }

  .u-section-3 .u-image-3 {
    min-height: 243px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 260px;
  }
} .u-section-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("images/1633618441890-02.jpeg");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 411px;
}

.u-section-4 .u-text-1 {
  font-size: 1.25rem;
  width: 670px;
  margin: 144px auto 0;
}

.u-section-4 .u-social-icons-1 {
  white-space: nowrap;
  height: 48px;
  min-height: 16px;
  width: 320px;
  min-width: 160px;
  margin: 40px auto 60px;
}

.u-section-4 .u-icon-1 {
  height: 100%;
}

.u-section-4 .u-icon-2 {
  height: 100%;
}

.u-section-4 .u-icon-3 {
  height: 100%;
}

.u-section-4 .u-icon-4 {
  height: 100%;
}

.u-section-4 .u-icon-5 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 339px;
  }

  .u-section-4 .u-text-1 {
    height: 64px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 260px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 195px;
  }

  .u-section-4 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 123px;
  }

  .u-section-4 .u-text-1 {
    width: 340px;
  }
}